/* intuitivnejsi box-sizing */
*, :after, :before { box-sizing: border-box; }

body {
	font: 24px/1 sans-serif;
}

/* ---------------------------------------------------- */

/*
	Nakóduj stránku podle obrázku zadani-ukolu.jpg.
	Rozložení stránky se mění v breakpointech:
	- 640px
	- 1000px
*/


/*
	Jsem na tebe hodný a už jsem ti připravil
	základní styl pro logo a pro odkazy.
*/
.hlavicka {
	padding: 10px;
	border: 1px solid silver;
}

.logo {
	font-weight: bold;
	text-align: center;
}

a {
	text-decoration: none;
	background-color: #f0f0f0;
	color: #e74c3c;
	display: block;
	padding: 10px 20px;
}

.menu li {
	margin-bottom: 2px;
}

.menu ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
}

a:hover {
	background-color: #e74c3c;
	color: white;
}

.logo {
	margin-bottom: 20px;
}

@media screen and (min-width: 640px) {
	.menu ul {
		display: flex;
		justify-content: space-between;
		flex-wrap: nowrap;
	}

	.menu li {
		flex: 0 0 calc((100% / 4) - 6px);
		margin: 0;
		padding: 0;
	}
	
}

@media screen and (min-width: 1000px) {
	.hlavicka {
		display: flex;
		justify-content: space-between;
		align-items: baseline;
	}

	.logo {
		margin: 0;
	}
	
	.menu ul {
		margin-right: 10px;
	}
	.menu li {
		margin-right: 2px;
	}
}